@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  font-family: "Ubuntu", sans-serif !important;
}

#sign-in-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./IMAGES/hands-unrecognizable-young-woman-using-laptop-cafe.jpg");
  background-size: cover;
  background-position: center;
}

#main-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("./IMAGES/aerial-view-man-using-computer-laptop-wooden-table.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid rgb(96, 165, 250);
}

::selection {
  @apply text-white bg-blue-400;
}

.active-badge {
  @apply text-blue-400 border-0;
}

.outline {
  @apply absolute top-0 left-0 w-full h-full border-2 border-blue-400 rounded-full;
}

.active-link {
  @apply text-blue-400 transform scale-110;
}

#preview h1 {
  @apply text-4xl font-medium mb-4 text-gray-600;
}

#preview h2 {
  @apply text-3xl font-medium mb-3 text-gray-600;
}

#preview h3 {
  @apply text-2xl font-medium mb-2 text-gray-600;
}

#preview a {
  @apply text-blue-600 hover:text-blue-500;
}

pre {
  @apply my-4;
}
